* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.containers {
  background: url('https://images.unsplash.com/photo-1657123652893-7c27196bb346?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1,
p {
  color: white;
  letter-spacing: 1rem;
  text-align: center;
  margin: 0;
  transition: all 0.3s;
}

h1:hover {
  /* color: lightyellow; */
  animation: movetoright 0.4s ease-out;
}

p:hover {
  /* color: lightyellow; */
  animation: movetoleft 0.4s ease-out;
  /* 0, 5s backwards; */
}

button {
  margin-top: 50px;
  padding: 10px;
  color: gray;
  border: none;
  border-radius: 15px;
  font-size: 0.5rem;
}

button:hover {
  /* color: lightyellow; */
  animation: movetoTop 0.3s ease-out;
  /* 0, 5s backwards; */
}

/* KeyFrames */
@keyframes movetoright {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  10% {
    opacity: 0.8;
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes movetoleft {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  10% {
    opacity: 0.8;
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes movetoTop {
  0% {
    transform: translateY(6rem);
    opacity: 0;
  }

  50% {
    transform: translateY(-3rem);
    opacity: 0.8;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}
